.booking-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  @include desktop-view {
    padding-top: 220px;
  }
}
.booking-section-container {
  display: flex;
  justify-content: flex-start;

  .text-holder {
    background-color: $light-black;
    padding: 44px 32px;
    text-align: left;
    font-size: $font-size-middle-1;
    line-height: 1.4;
    font-family: $font-second, $font-family-fallback;
    font-weight: $weight-light;

    @include desktop-view {
      max-width: 550px;
    }
    @include desktop-m-view {
      max-width: 558px;
    }
    @include desktop-l-view {
      max-width: 649px;
    }
  }

  h2 {
    padding: 16px 0;
    text-transform: uppercase;
    font-weight: $weight-regular;
  }

  .text-description {
    font-size: $font-size-small-2;
    line-height: 1.75;
    letter-spacing: $space-s;
    padding-bottom: 28px;

    @include desktop-view {
      padding-bottom: 24px;
    }
  }

  &.reverse {
    @include desktop-view {
      justify-content: flex-end;
    }
  }
}
