.button {
  font-family: $font-second;
  background-color: $accent;
  position: relative;
  color: $white;
  border: 1px solid $accent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: $space-s;
  text-transform: uppercase;
  padding: 20px 32px;

  &.button-effect {
    background-repeat: no-repeat;
    opacity: 1;
  }

  &.button-search {
    font-size: 14px;
    line-height: 1.43;
    width: 100%;
    padding: 16px 20px;
  }
}
