.feedback-section-container {
  padding: 60px 18px 120px;
  @include tablet-view {
    padding: 60px 24px 120px;
  }
  @include desktop-view {
    padding: 120px 32px;
  }
  @include desktop-m-view {
    padding: 120px 110px;
  }
  @include desktop-l-view {
    padding: 120px 300px;
  }

  h2 {
    font-size: $font-size-large-1;
    line-height: 1.11;
    padding-bottom: 60px;
  }
  .feedback-holder {
    width: 100%;
    @include desktop-view {
      display: flex;
    }
    @include desktop-m-view {
      display: flex;
    }
    @include desktop-l-view {
      display: flex;
    }
  }
  .img-holder {
    width: 100%;
    overflow: hidden;
    @include desktop-view {
      width: calc(100% / 3);
    }
    @include desktop-m-view {
      width: calc(100% / 3);
    }
    @include desktop-l-view {
      width: calc(100% / 3);
    }

    img {
      @include desktop-view {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include desktop-m-view {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include desktop-l-view {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .blockquote {
    background-color: $dark-grey;
    padding: 48px 60px;
    font-family: $font-second;
    text-align: left;
    @include desktop-view {
      width: calc(100% / 3 * 2);
    }
    @include desktop-m-view {
      width: calc(100% / 3 * 2);
    }
    @include desktop-l-view {
      width: calc(100% / 3 * 2);
    }

    figcaption {
      font-size: $font-size-middle-1;
      line-height: 1.4;
      text-transform: uppercase;
      padding-bottom: 16px;
    }
  }
  .quote-icon {
    fill: $accent;
    height: $font-size-middle-1;
    width: $font-size-middle-1;
    display: inline;
  }
  .text-description {
    font-size: $font-size-small-2;
    font-weight: $weight-light;
    line-height: 1.75;
    letter-spacing: $space-s;
  }
}
