.header-hero {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 862px;
  color: $white;
  text-align: center;
  font-family: $font-second;
  font-weight: $weight-regular;

  h1 {
    padding-top: 295px;
    padding-bottom: 8px;
    font-size: 48px; /*change!*/
    font-weight: $weight-bold;
    line-height: 1.08;
  }

  .subheading {
    display: block;
    font-size: 22px; /*change!*/
    line-height: 1.27;
    letter-spacing: $space-xl;
  }
  .form-holder {
    width: 100%;
    padding: 48px 18px 211px;
  }
  .form-block {
    width: 100%;
    max-width: 647px;
    margin: 0 auto;
    display: flex;
    background-color: $white;
    align-items: baseline;
    padding: 4px 5px 4px 36px;
  }
  .input-search {
    width: 100%;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: $space-m;
    color: $grey;
    border: none;
  }
  .button-holder {
    width: 100%;
    max-width: 139px;
  }
  .scroll-holder {
    max-width: 102px;
    margin: 0 auto;
  }
  .fa-magnifying-glass {
    padding-right: 12px;
    font-size: 16px;
  }
  .fa-chevron-down {
    display: block;
    padding-top: 4px;
  }
}
