.header {
  position: fixed;
  background-color: $accent;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 28px 0;
  @include tablet-view {
    padding-bottom: 0;
  }

  @include desktop-view {
    padding: 28px 0;
  }
}

.header-menu {
  display: flex;
  justify-content: center;

  @include tablet-view {
    flex-direction: column;
  }

  @include desktop-view {
    flex-direction: row;
    justify-content: space-between;
  }

  &.active {
    .nav-list {
      opacity: 1;
      visibility: visible;
    }

    .burger-btn {
      span {
        opacity: 0;
      }

      &:before {
        transform: rotate(45deg);
        top: 11px;
      }

      &:after {
        transform: rotate(-45deg);
        bottom: 12px;
      }
    }
  }

  .logo-link {
    font-size: $font-size-middle-3;
    font-weight: $weight-bold;
    font-family: $font-second, $font-family-fallback;
    line-height: 1.17;
    letter-spacing: $space-s;
  }

  .nav-holder {
    display: flex;
    justify-content: center;
  }

  .nav-list {
    background-color: $accent;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 32px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.3s;

    @include tablet-view {
      flex-direction: row;
      position: static;
      opacity: 1;
      visibility: visible;
      gap: 28px;
    }

    @include desktop-view {
      gap: 40px;
      padding: 0;
    }
  }

  .nav-item {
    text-transform: uppercase;
    font-size: $font-size-small-1;
    line-height: 1.43;
    letter-spacing: $space-s;
  }

  .burger-holder {
    position: absolute;
    top: 28px;
    right: 30px;
    @include small-mobile-view {
      right: 10px;
    }
  }

  .burger-btn {
    position: relative;
    width: 40px;
    height: 24px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    @include tablet-view {
      display: none;
    }

    span,
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      border-top: 2px solid $white;
      transition: all ease-in-out 0.3s;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }
}
