.icons-section-container {
  padding: 60px 18px;
  display: flex;
  flex-direction: column;
  @include tablet-view {
    padding: 60px 24px;
  }
  @include desktop-view {
    padding: 60px 32px;
  }
  @include desktop-m-view {
    padding: 60px 110px;
  }
  @include desktop-l-view {
    padding: 60px 300px;
  }

  .line-holder {
    display: none;
    @include desktop-view {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
    @include desktop-m-view {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
    @include desktop-l-view {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }

  .icon-items-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @include desktop-view {
      flex-direction: row;
      justify-content: space-around;
    }
    @include desktop-m-view {
      flex-direction: row;
      justify-content: space-around;
    }
    @include desktop-l-view {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .icon-holder {
    padding: 16px;
  }

  .subheading {
    display: block;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: $space-xs;
    padding-top: 4px;
  }
  .magnifying-glass-icon {
    fill: $accent;
  }

  .circle-check-icon {
    fill: $red;
  }

  .thumb-up-icon {
    fill: $blue;
  }
}
