*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $white;
}
a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  background-color: $dark-grey;
  color: $white;
  font-family: $font-main, $font-family-fallback;
  font-weight: $weight-regular;
  letter-spacing: $space-xs;
  text-align: center;
}
.wrapper {
  max-width: calc(100% - 20px);

  margin: 0 auto;
  @include tablet-view {
    max-width: 720px;
  }
  @include desktop-view {
    max-width: 960px;
  }
  @include desktop-m-view {
    max-width: 1140px;
  }
  @include desktop-l-view {
    max-width: 1320px;
  }
}
